src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get:\patients\(id):prc-patient-api-config" doc:id="739e936c-e476-454a-b2d9-958de25f559e" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="[patientId]" doc:id="98788ccf-1bec-46de-8bf3-58989453fa20" variableName="patientId"/>
		<set-variable value="#[attributes.queryParams.role]" doc:name="[role]" doc:id="23c471d0-0ee2-465a-9563-67aa80f261a3" variableName="role"/>
		<flow-ref doc:name="sub-get-patient" doc:id="70d4bea1-43eb-46f7-96d5-383fdaf60b17" name="sub-get-patient"/>
	</flow>
</mule>
