src/test/munit/mock.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="apikit-mock" doc:id="4434d76d-124c-44b8-9c3e-c165d7f19249" >
		<flow-ref doc:name="to testedFlow" doc:id="e9b13ded-5b22-4c49-80c3-8a9393288390" name="#[vars.testedFlow]" />
	</flow>
	
</mule>
